[submodule "poky"]
	path = poky
	url = https://github.com/yoctoproject/poky
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = kirkstone
[submodule "meta-rockchip"]
	path = meta-rockchip
	url = git@github.com:tmm1/meta-rockchip
	branch = fancybits
